@model List<Blog.ViewModels.BlogViewModel>


@foreach (var blog in Model)
{
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <a href="Home/Blog/@blog.Id">
                    <h2 class="post-title">
                        @blog.Title
                    </h2>
                    <h3 class="post-subtitle">
                        @blog.Content
                    </h3>
                </a>
                <p class="post-meta">
                    @*Posted by*@
                    <a href="#">Start Bootstrap</a>
                    on @blog.PostDate
                </p>
            </div>
            <hr>           
        </div>
    </div>
}

